body{
    margin: 0px;
    padding: 0px;
}

.back{
    height: 100vh;
    width: 100vw;
    background: url("https://plus.unsplash.com/premium_photo-1697730044079-0ff3fda28bb7?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=2070");;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15%;
    filter: blur(4px);
}

.main{
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10%;
}

.navbar{
    height: 70px;
    width: 98%;
    margin-top: 1.5%;
    display: flex;
    justify-content: center;
}

.nav{
    height: 100%;
    width: 95%;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
    padding: 15px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 300px;
    height: 70px;
}

.logo img{
    height: 100%;
    width: 100%;
}

.nav-links{
    display: flex;
    gap: 30px;
    align-items: center;
}

.nav-links a {
    text-decoration: none;
    font-weight: 500;
    transition: all 0.3s;
    text-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.nav-links a:hover {
    color: rgba(0, 0, 0, 0.8);
    transform: translateY(-2px);
}

.nav-icons {
    display: flex;
    gap: 15px;
}

.icon-btn {
    width: 35px;
    height: 35px;
    border-radius: 8px;
     background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    cursor: pointer;
     display: flex;
     align-items: center;
    justify-content: center;
    transition: all 0.3s;
     box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.card{
    height: 70%;
    width: 48%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
    background: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
    cursor: default;
    overflow: hidden;
}

.togglebar{
    width: 97%;
    height: 14%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    margin-top: 1%;
    background: rgba(255, 255, 255, 0.531);
    cursor: default;
}


.togg{
    width: 48%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: 1px solid white;
} 

.side1{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px 0px 0px 20px;
    transition: 0.8s ease-in-out;

}

.clr{
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
    background: rgba(255, 255, 255, 0.531);
}

.side2{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 20px 20px 0px;
    transition: 0.8s ease-in-out;
}

.contain{
    width: 100%;
    height: 85%;
}
.login{
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 2%;
}

.signup{
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 2%;
}

.leftpart{
    width: 50%;
    height: 97%;
    border-radius: 20px 0px 0px 20px;
    box-shadow: 0 0px 30px rgba(0, 0, 0, 0.2);
    background: rgba(255, 255, 255, 0.731);
    transition: 0.8s ease-in-out;
}

.desc{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    transition: 0.5s ease-in-out;
}

.head{
    font-size: 40px; 
    display: flex;
    align-items: center;
    justify-content: center;
    width: 270px;
    height: 170px;
    border: 1px solid white;
    border-radius: 20px;
    line-height: 45px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
    background: rgba(255, 255, 255, 0.206);
    color: rgb(77, 74, 74);
}

.rightpart{
    width: 50%;
    height: 97%;
    background: rgba(255, 255, 255, 0.531);
    border-radius: 0px 20px 20px 0px;
    cursor: default;
    transition: 0.8s ease-in-out;
}

.details{
    width: 100%;
    height: 440px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 35px;
    transition: 0.5s ease-in-out;

}

.inputdiv{
    width: 100%;
    height: 50px;
    margin:  10% 0% 10%;
}

.inputdiv input{
    position: relative;
    left: 10px;
    width: 90%;
    height: 25px;
    background: transparent;
    border: none;
    border-bottom: 2px solid black;
    outline: none;
    color: black;
    font-size: 18px;
}

.inputdiv label{
    position: relative;
    left: 10px;
    top: -30px;
    color: #211832;
    pointer-events: none;
    transition: 0.3s ease;
    font-size: 20px;
}

.inputdiv input:focus ~ label ,
.inputdiv input:valid ~ label{
    top: -50px;
    color: brown;
    font-size: 16px;
} 


.inputdiv input:focus {
      border-color: brown;
}

.btn2{
    width: 100%;
    margin-top: 3%;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    display: flex;
    justify-content: center;
}

.inner{
  height: 50px;
  width: 150px;
    background-color:rgba(0, 0, 0, 0.72);
   border-radius: 10px;
   transform: translateX(8px) translateY(8px);
}

.upper{
  height: 50px;
  width: 150px;
  position: relative;
  top: -50px;
  left: 0px;
  box-shadow: 0 0px 30px rgba(0, 0, 0, 0.2);
    background: rgba(255, 255, 255, 0.9);
  color: black;
  border-radius: 10px;
  border: 1px solid grey;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  transition: 0.5s ease-in-out;
}


.upper:hover{
    transform: translateX(8px) translateY(8px);
}

@media (max-width: 750px) {
  .card {
    width: 400px;
  }

  .leftpart{
    display: none;
  }

  .rightpart{
    width: 96%;
    border-radius: 20px;
  } 

  .rightpart2{
    display: none;
  }

  .leftpart2{
    width: 96%;
    border-radius: 20px;
  } 

  .nav-links{
    display: none;
  }
} 




.leftpart2{
    width: 0%;
    height: 97%;
    background: rgba(255, 255, 255, 0.531);
    border-radius: 20px 0px 0px 20px;
    background-color: rgba(255, 255, 255, 0.531);
    transition: 0.8s ease-in-out;
}

.rightpart2{
    width: 0%;
    height: 97%;
    box-shadow: 0 0px 30px rgba(0, 0, 0, 0.2);
    background: rgba(255, 255, 255, 0.731);
    border-radius: 0px 20px 20px 0px;
    cursor: default;
    transition: 0.8s ease-in-out;
}

.desc2{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    transition: 0.5s ease-in-out;
    display: none; 
}

.head{
    text-align: center;
    font-size: 40px; 
    display: flex;
    align-items: center;
    justify-content: center;
    width: 270px;
    height: 170px;
    border: 1px solid white;
    border-radius: 20px;
    line-height: 45px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
    background: rgba(255, 255, 255, 0.206);
    color: rgb(77, 74, 74);
}

.details2{
    width: 100%;
    height: 440px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 35px;
    transition: 0.5s ease-in-out;
    display: none; 
    margin-top: 5%;
}
